In [2]:
#Load Data
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/text classification/myanmar news classification/data/news_data.csv")

data = data.sample(frac = 1) #Shuffle data
data.head()

                                               Article       Category  Label
214  ပျောက်ဆုံးနေသော အ သက်(၁၄)နှစ်အရွယ် နဝမတန်း ကျေ...          crime      1
56   ကျင်းပမည့် ကြားဖြတ် ရွေးကောက်ပွဲတွင် တိုင်းရင်...        politic      3
351  အရင်းအနှီးငွေကြေး လိုအပ်နေသည့် လယ်ယာကဏ္႑ အတွက်...       business      0
185  လူကြိုက်များသည့် ကိုရီးယား အမျိုးသားအဆိုတော်အဖ...  entertainment      2
216  ဒဂုံမြို့သစ်အရှေ့ပိုင်းမြို့နယ် ကြာနီကန်ကျေးရွ...          crime      1

In [3]:
#Check null values
print("null check: ", data.isnull().values.any())

null check:  False

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data['Article'], data['Category'], test_size = 0.1, shuffle= True)

In [5]:
#TF-IDF Vectorization
from sklearn.feature_extraction.text import TfidfVectorizer


tfidf_vectorizer = TfidfVectorizer(use_idf = True)
train_vec = tfidf_vectorizer.fit_transform(X_train)
test_vec = tfidf_vectorizer.transform(X_test)

print(train_vec.shape)
print(test_vec.shape)

(359, 2718)
(40, 2718)

Logistic Regression with tf-idf

In [11]:
#Train model
from sklearn.linear_model import LogisticRegression

lr_tfidf = LogisticRegression()
lr_tfidf.fit(train_vec, y_train)

LogisticRegression()

In [12]:
#Predict test data
from sklearn.metrics import classification_report

y_predict_lr = lr_tfidf.predict(test_vec)
print(classification_report(y_test, y_predict_lr))

               precision    recall  f1-score   support

     business       0.82      1.00      0.90         9
        crime       0.86      0.92      0.89        13
entertainment       1.00      1.00      1.00         8
      politic       1.00      0.70      0.82        10

     accuracy                           0.90        40
    macro avg       0.92      0.91      0.90        40
 weighted avg       0.91      0.90      0.90        40

Support Vector Machine with tf-idf

In [13]:
#Train model
from sklearn import svm

svm_tfidf = svm.SVC(C = 1.0, kernel = 'linear', degree = 3, gamma = 'auto')
svm_tfidf.fit(train_vec, y_train)

SVC(gamma='auto', kernel='linear')

In [14]:
#Predict test data
from sklearn.metrics import classification_report

y_predict_svm = svm_tfidf.predict(test_vec)

print(classification_report(y_test, y_predict_svm))

               precision    recall  f1-score   support

     business       0.82      1.00      0.90         9
        crime       0.86      0.92      0.89        13
entertainment       1.00      1.00      1.00         8
      politic       1.00      0.70      0.82        10

     accuracy                           0.90        40
    macro avg       0.92      0.91      0.90        40
 weighted avg       0.91      0.90      0.90        40

Naive Bayes

In [17]:
#Train model
from sklearn.naive_bayes import MultinomialNB

nb_tfidf = MultinomialNB()
nb_tfidf.fit(train_vec, y_train)

MultinomialNB()

In [18]:
#Predict test data
from sklearn.metrics import classification_report

y_predict_nb = nb_tfidf.predict(test_vec)

print(classification_report(y_test, y_predict_nb))

               precision    recall  f1-score   support

     business       1.00      0.67      0.80         9
        crime       0.92      0.92      0.92        13
entertainment       1.00      1.00      1.00         8
      politic       0.69      0.90      0.78        10

     accuracy                           0.88        40
    macro avg       0.90      0.87      0.88        40
 weighted avg       0.90      0.88      0.88        40